body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;

}

:root {
  --primary: #1890ff;
  --primary-hover: #0280b3;

  --background-dark:#001b35;
  --background-grey:#f0f3f4;
  --background-dark-web:#16212b;

  --border-grey:#808080;

  --success:#84b84c;
  --error:#9f3a38;
  --youtube:#cd201f;


}

.auth{
  
  background-image: radial-gradient(circle at 50% -20.71%, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #0051de 100%);
  min-height: 100vh;
  background-position: center;
  background-size: contain;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
 
   
}

 

.logo-auth {
  width: 360px;
  height: auto;
   
}

.auth__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.auth__tabs button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
}

.auth__tabs button.active {
  font-weight: bold;
}


.form-base{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(ellipse farthest-corner at 45px 30px , #fff 50%, rgba(0, 255, 0, 0) 0%, yellow 50%);
  width: 800px;
  height: 500px;
  border-radius: 12px;
  border-end-end-radius: 70px;
   
  background-color: rgb(186, 186, 186);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  opacity: 0.9;

}

.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 6px;
  margin: 30px;
   
   
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

form {
  display: flex;
  flex-wrap: wrap;
  
}
 
.input-group {
  display: flex;
  flex-direction: column;
   
  width: 100%;
}
.input-group label {
  color: rgb(87, 87, 87);
  font-weight: lighter;
  margin: 10px 0px;
}
.input-group input {
  padding: 10px ;
  background: hsla(202, 48%, 95%, 0.3);
  border: 1px solid hsla(0, 0%, 100%, 0.507);
  outline: none;
  border-radius: 5px;
   
  font-weight: lighter;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.input-group input:focus {
  background-color: white;
}
.login-button {
  padding: 10px 30px;
  width: 100%;
  border-radius: 5px;
  background-image: radial-gradient(circle at 50% -20.71%, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #0051de 100%);
 
  border: 1px solid hsl(201, 100%, 50%);
  outline: none;
  font-size: 1.5em;
  color: white;
  font-weight: lighter;
  margin-top: 20px;
  cursor: pointer;
  /* Agregar transiciones para los cambios de estilo */
  transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}
.login-button:hover {
  background-image: radial-gradient(circle at 50% -20.71%, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #ffffff 100%);
 
  color: black;
  font-weight: 700;
}

.login-button:focus {
  background-color: hsla(201, 100%, 50%, 0.5);
}

.logout-button{
  padding: 20px 30px;
  width: 12%;
  margin-left: 15px;
  border-radius: 5px;
  background-image: radial-gradient(circle at 50% -20.71%, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #0051de 100%);
 
  border: 1px solid hsl(0, 0%, 98%);
  outline: none;
  font-size: 14px;
  color: white;
  font-weight: lighter;
  opacity: 0.9;
   
  cursor: pointer;
  /* Agregar transiciones para los cambios de estilo */
  transition: background-color 0.3s, color 0.3s, font-weight 0.3s;
}
.logout-button:hover {
  background-image: radial-gradient(circle at 50% -20.71%, #a3a7ff 0, #7a8ffc 25%, #3c78f2 50%, #0063e8 75%, #ffffff 100%);
 
  color: black;
  font-weight: 700;
}

.logout-button:focus {
  background-color: hsla(201, 100%, 50%, 0.5);
}

/* AdminHeader.css */

.admin-header {
  background-color: #f0f0f0;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-header h4 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.admin-header nav {
  margin-top: 10px;
}

.admin-header nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.admin-header nav ul li {
  margin-right: 10px;
}

.admin-header nav ul li a {
  text-decoration: none;
  color: #555;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.admin-header nav ul li a:hover {
  background-color: #e0e0e0;
}


.admin-layout{
  background-image: radial-gradient(ellipse farthest-corner at 10px 100px , #fff 50%, rgba(0, 255, 0, 0) 0%, yellow 50%);
  min-height: 100vh;
}

.admin-layout-header{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.admin-layout-header-logo{
  width: 100px;
}
.admin-layout-header-text{
  text-align: center;
  color: white;
}
.admin-layout-header-text h1{
  font-size: 35px; /* Tamaño de fuente grande */
  font-weight: 700; /* Peso de fuente bold */
  color: #000000; /* Color de texto */
  text-align: center; /* Alineación centrada */
   
  text-transform: uppercase; /* Transformación de texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.642); /* Sombra de texto */
   
}
.admin-layout-header-text p{
  color: black;
  font-style: oblique;
}
.admin-layout-header-text-span{
  font-weight: 900;
  font-size: 20px;
  margin: 10px;
  background: -webkit-linear-gradient(rgb(242, 242, 242),rgb(43, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: rgb(71, 80, 255); 
   
}

.web-layout{
  background-image: radial-gradient(ellipse farthest-corner at 10px 100px , #fff 50%, rgba(0, 255, 0, 0) 0%, yellow 50%);
  min-height: 100vh;
}


.button-container {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.logout-button, .admin-redirect-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover, .admin-redirect-button:hover {
  background-color: #0056b3;
}

.header-client {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
   
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .header-client {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .header-client nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .admin-layout-header{
     
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.nav-client ul {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.nav-client li {
  display: inline;
}

.nav-client a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.nav-client a:hover {
  text-decoration: underline;
}
